<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable reminder for application.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.productivityreminder</string>
			<key>key</key>
			<string>AppEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.dgh0st.productivityreminder/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Minutes</string>
			<key>footerText</key>
			<string>Set the amount of time after which alert is displayed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.dgh0st.productivityreminder</string>
			<key>key</key>
			<string>AlertDelay</string>
			<key>default</key>
			<string>10</string>
			<key>isDecimalPad</key>
			<true/>
			<key>PostNotification</key>
			<string>com.dgh0st.productivityreminder/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>save</string>
			<key>action</key>
			<string>save</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>ProductivityReminder © 2016 DGh0st</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
